<h1>Login</h1>
<div class="login">
    <div id="form3">
    <form action="/models/account-model.js" id="login">
    <label for="accountEmail">Email Address:</label>
    <input type="email" id="accountEmail" name="account_email" required autofocus>
    <label for="accountPassword">Password:</label>
    <input type="password" id="accountPassword" name="account_password" pattern="[a-zA-Z,0-9]{6,}" required><br><br>
    <input type="submit" value="Login" id="submit">
    </form>
    </div>
    <p style="text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">No account? <a href="">Sign up</a></p>
    </div>