<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<%- messages() %>
<h1>You're logged in</h1>
<a title="Click to log in" href="http://localhost:5500/inv/">My Account</a>

