/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#top-header {
  margin-top: 24px;
  overflow: hidden;
  padding: 20px 10px;
  text-decoration: none;
  line-height: 25px;
  height: 50%;
 }

.siteName {
  float: left;
  font-size: 50px; 
  font-weight: bolder;
  
}

.siteName a {
  text-decoration: none;
  color: black;
}

#tools {
  float: right;
  font-size: 26px; 
  font-family:inherit
  
}

#tools a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: black;
  overflow: hidden;
  text-align: center; 
  margin-top: 20px;
}

nav ul li {
  display: inline;
  height: 50px;
  font-size: 32px;
  padding-left: 7%; 
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding-left: 1px;

 }

nav a:hover {

  background-color:white;
  color: black;
  
}

.container {
  position: relative;
  margin-top: 40px;
}

#marketing {
  position: absolute;
  background-color: white;
  opacity: .8;
  
}

#marketing li {
  list-style:none;
  padding-left: 35px;
  font: 1em sans-serif;
  font-size: 32px;
  color:rgba(0, 201, 252, 0.877);
}

#marketing .button {
  color: black;
  background-color:rgba(0, 201, 252, 0.877);
  width: 210px;
  height: 52px;
  font-size: 22px;
  font-weight: bolder;
  padding-top:14px;
  text-align: center;
  margin-left: 35px;
  margin-top: 25px; 
}

#imgDelorean {
  margin-left: 180px;
  padding-top: 20px;
  width: 10px;
}

.general {
  display: grid;
}
.upgrade h2 {
  font-size: 35px;
  
}

.division {
  display:grid;
  font-size: 28px;
  
}

.division1 {
  display:grid;
  font-size: 28px;
  margin-top: 60px;
  
}

div.gallery, div.gallery1 {
  margin: 5px;
  background-color: rgba(0, 201, 252, 0.877);
  float: left;
  width: 200px;
  height: 76px;
  border: 1px solid #a1a1a1;
  
}
.upgrade img, .upgrade1 img   {
  padding-left: 40px;
  padding-top: 5px;
  width: 150px;
  height: 70px;
}

div.desc, div.desc1 {
  text-align: center;
  font-size: 16px;
  
}

#review {
  line-height: 35px;
  position: absolute;
  margin-left: 450px;
  font-size: 22px;
  float: left;
}


#review h3 {
  margin-left: 26px;
  font-size: 30px;
}

#inv-display {
  font-size: 14px;
  width: 100%;
  display:flex;
  margin-left: -10px;
  
  
}

#inv-display li {
  padding-left:1px;
  list-style: none;
  line-height: 1px;
  text-align: center;
  
}
#inv-display li a {
  font-size: 18px;
  text-decoration: none;
  line-height: 16px;

}

#inv-display img {
  height: 150px;
  width: 225px;
  
}
#inv-display hr {
  width: 225px;
}

.inv_detail {
  background-color: rgb(21, 6, 230);
  color: aliceblue;
  width: 500px;
  font-size: 20px;
  padding: 4px 4px;
  margin-top: 45px;
  text-align: center;

}

.inv_detail img {
  height: 325px;
  width: 490px;
  
}
.aside {
  
  position:absolute;
  width: 500px;
  float: right;
  margin-top: -408px;
  margin-left: 515px;
  height: 403px;
}

.aside h3 {
  font-size: 32px;
  margin-top: -54px;
}
.aside #price-view {
  background-color: rgb(179, 198, 218);
  height: 152px;
  margin-top: -30px;
  padding-top: 15px;
  font-size: 26px;
  font-weight: bolder;
  padding-left: 125px;
}

.aside #price-view #as_p {
  color: crimson;
  margin-left: -55px;

}

.aside #price-view #as_p2  {
  border: 2px solid red;
  padding-left: 25px;
  margin-left: -55px;
  border-radius: 50px 20px;
  background-color: rgb(5, 64, 131);
  font-size: 24px;
  font-weight: bolder;
  width: 50%;
  color: aliceblue;

}

.notice {
  color: rgb(248, 9, 9);
  font-style: italic;
}

.login {
  background-color: rgb(9, 109, 155);
  width: 500px;
  margin-left: 140px;
  padding: 12px 8px;
  font-size: 26px;
  border: 2px solid #81e4f1;
  margin-top: 40px;
  margin-left: 30%;
}
#form3 label {
  display: block;
  margin-left: 100px;
}

#form3 {
  border: 2px solid #81e4f1;
  padding: 9px 6px;
  background-color: #06acee;
}
#form3 input {
  height: 26px;
  width: 250px;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 100px;
}
input:valid {
  
  background-color: palegreen;
}

input:invalid {
  background-color: lightpink;
}
#submit {
  height: 40px;
  font-weight:bolder;
  font-size: 16px;
  background-color: #82ceec;
}
.styled {
  margin-left: 180px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgb(235, 25, 25);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
  background-color: rgb(12, 194, 151);
}

.styled:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}


footer {
  padding-top: 20px;
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {

  nav {
    width: 100%;
    word-spacing: 4dvw;
    text-align: left;
  }

  nav ul li {
    display: inline;
    height: 50px;
    font-size: 32px;
    padding-left: 3%; 
    margin-left: 2px;
  }
  #marketing {
    font-size: 1%;
   
  }
  #imgDelorean {
    width:1%;
    margin-top: -21px;
  }
  .division {
   font-size: 1px;
  }
  #review {
    margin-left: -6px;
    margin-top: -70px;
    font-size: 18px;
    line-height: 22px;
  }
  .division {
    margin-top: 170px;
    position: static;
   
  }
  .division1 {
    margin-top: 15px;
    position: static;
   
  }
  .gallery img{
    width: 95px;
   }
  .gallery1 img{
   width: 95px;
  }
  div.gallery, div.gallery1{
    width: 120px;
  }

  
  .inv_detail {
    margin-top: 400px;
    padding-top: 50px;
  }
  .aside {
    margin-left: 1px ;
    margin-top: -800px ;
  }

  
}
