<h1>Add New Classification </h1>
<% messages() %>
<div class="newClassification">
    <h3>Field is required</h3>
    <div id="form">
        <h3>Classification Name</h3>
        <form action="/inv/addNewClassification/" id="form1"  method="post">
            <label for="newClassification">NAME MUST BE ALPHABETIC CHARACTERS ONLY.</label>
            <input type="text" id="newClassification" name="classification_name" pattern="[A-Za-z]{3,20}"  required autofocus>
            <br><br>
            <button class="favorite styled"  style="margin-left:600px;"  type="submit">Add Classification</button>
        </form>
    </div>
</div>