<h1> Vehicle Management </h1>
<%- messages() %>
<div class = "management">
<a href="/../inv/add-classification">Add New Classification </a> <br><br>
<a href="/../inv/add-inventory">Add New Vehicle</a>
</div>
